# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de build / compilación
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage
coverage/
.nyc_output/

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/

# Archivos temporales
*.tmp
*.temp
*.swp